<div>
  {{format-message
    this.descriptor
    name="Sonja"
    numPhotos=12
    timestamp=this.yesterday
  }}
</div>

<div>
  {{format-message
    this.descriptor
    name="Chris"
    numPhotos=0
    timestamp=this.yesterday
  }}
</div>

<div>
  {{format-message
    this.descriptor
    name="Maki"
    numPhotos=1
    timestamp=this.today
  }}
</div>