{{#ember-wormhole to="locale-switcher"}}
  <ul class="intl-tools">
    <li><button {{action 'changeLocale' 'en-us'}}>en-us</button></li>
    <li><button {{action 'changeLocale' 'es-es'}}>es-es</button></li>
    <li><button {{action 'changeLocale' 'fr-fr'}}>fr-fr</button></li>
  </ul>
{{/ember-wormhole}}
