# compiled output
/dist/
/tmp/

# dependencies
/tests-node/

# misc
/.editorconfig
/.ember-cli
/.env*
/.eslintcache
/.eslintignore
/.eslintrc.js
/.git/
/.github/
/.gitignore
/.pnpm-debug.log
/.prettierignore
/.prettierrc.js
/.stylelintignore
/.stylelintrc.js
/.template-lintrc.js
/.watchmanconfig
/CONTRIBUTING.md
/ember-cli-build.js
/pnpm-lock.yaml
/testem.js
/tests/
/yarn-error.log
/yarn.lock
/jsconfig.json
.gitkeep

# ember-try
/.node_modules.ember-try/
/npm-shrinkwrap.json.ember-try
/package.json.ember-try
/package-lock.json.ember-try
/pnpm-lock.yaml.ember-try
/yarn.lock.ember-try

# ember-cli-addon-docs
/config/addon-docs.js
