---
language: node_js
node_js:
  - "6"

sudo: false

cache:
  yarn: true

env:
  # we recommend testing LTS's and latest stable release (bonus points to beta/canary)
  - EMBER_TRY_SCENARIO=ember-1.13
  - EMBER_TRY_SCENARIO=ember-lts-2.4
  - EMBER_TRY_SCENARIO=ember-lts-2.8
  - EMBER_TRY_SCENARIO=ember-release
  - EMBER_TRY_SCENARIO=ember-beta
  - EMBER_TRY_SCENARIO=ember-canary

matrix:
  fast_finish: true
  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-canary

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - yarn global add phantomjs-prebuilt

install:
  - yarn install --no-lockfile

script:
  - yarn tests-node
  - ember try $EMBER_TRY_SCENARIO test

before_deploy:
  - yarn build -- --environment=production

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: dist
  repo: "ember-intl/ember-intl.github.io"
  project_name: ember-intl
  target_branch: master
  on:
    branch: master
    condition: "$EMBER_TRY_SCENARIO = ember-release"
