<div>
  <h1 data-test-output="Title">
    {{t "routes.my-v1-engine.index.title" htmlSafe=true}}
  </h1>

  <div>
    <ComponentFromV1Engine />
  </div>

  <div data-test-output="Key to Overwrite">
    {{t "routes.index.key-to-overwrite"}}
  </div>
</div>