<div>
  <h1 data-test-output="Title">
    {{t "routes.my-v1-engine.index.title" htmlSafe=true}}
  </h1>

  <div class="section">
    <ComponentFromV1Engine />
  </div>

  <div class="section" data-test-output="Key Missing">
    {{t "routes.index.key-without-translation"}}
  </div>

  <div class="section" data-test-output="Key Overwritten">
    {{this.overwrittenTranslation}}
  </div>
</div>