<div>
  <h1 data-test-output="Title">
    {{t "routes.index.title" htmlSafe=true}}
  </h1>

  <div class="section">
    <ComponentFromApp />
    <ComponentFromV1Addon />
    <ComponentFromV2Addon />
  </div>

  <div class="section" data-test-output="Key Missing">
    {{t "routes.index.key-without-translation"}}
  </div>

  <div class="section" data-test-output="Key Overwritten">
    {{this.overwrittenTranslation}}
  </div>

  {{#each this.intl.locales as |locale|}}
    <div>{{locale}}</div>
  {{/each}}
</div>