/* stylelint-disable selector-class-pattern */
:root {
  --ember-black: #212121;
  --ember-brand: #db3122;
  --ember-brand-old: #e04e39;
  --ember-faint-gray: #efebea;
  --ember-gray: #817f7f;
  --ember-linen: #fdf7f6;
}

html:not(.dark) {
  --vp-button-brand-bg: var(--ember-brand) !important;
  --vp-button-brand-hover-bg: var(--ember-brand-old) !important;
  --vp-c-brand-1: var(--ember-brand) !important;
  --vp-c-brand-2: var(--ember-brand-old) !important;
  --vp-c-text-1: var(--ember-black) !important;
  --vp-c-text-2: var(--ember-gray) !important;
  --vp-c-text-3: var(--ember-faint-gray) !important;
  --vp-code-block-bg: var(--ember-linen) !important;
  --vp-code-line-highlight-color: rgb(251 200 64 / 38%) !important;
  --vp-code-line-number-color: var(--ember-gray) !important;
  --vp-home-hero-name-color: var(--ember-brand) !important;
}

html:not(.dark) :focus-visible {
  outline-color: var(--ember-brand-old) !important;
}

html:not(.dark) .VPSidebarItem .caret {
  color: var(--ember-black) !important;
}

html:not(.dark) .VPSidebarItem.level-1 .text {
  font-weight: 400 !important;
}

html.dark {
  --vp-button-brand-bg: var(--ember-brand) !important;
  --vp-button-brand-hover-bg: var(--ember-brand-old) !important;
  --vp-home-hero-name-color: var(--ember-brand) !important;
}

html.dark .VPSidebarItem.level-1 .text {
  font-weight: 400 !important;
}

.locale-switcher.container {
  display: flex;
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}

.locale-switcher .list-item {
  list-style: none;
  margin: 0;
  margin-right: 0.25rem;
}

.locale-switcher .list-item:last-of-type {
  margin-right: 0;
}

.locale-switcher .button {
  background-color: #397279;
  border-radius: 0.15rem;
  color: #fff;
  padding: 0.25rem 0.75rem;
}
