<div>
  <h1>Welcome!</h1>

  <div>
    <p>
      This is the
      <code>test-app</code>
      for
      <code>ember-intl</code>. Did you want to run the
      <code>docs-app</code>
      instead?
    </p>
  </div>
</div>