<div>
  <h1>Welcome!</h1>

  <div>
    <p>
      This is the test app for
      <code>ember-intl</code>. Did you want to run the app in
      <code>docs/ember-intl</code>
      instead?
    </p>
  </div>
</div>