{{!-- BEGIN-SNIPPET docs__helpers__format-message__example-1__my-component.hbs --}}
<div>
  {{format-message
    this.customMessage
    name="Sonja"
    numPhotos=12
    timestamp=this.yesterday
  }}
</div>

<div>
  {{format-message
    this.customMessage
    name="Chris"
    numPhotos=0
    timestamp=this.yesterday
  }}
</div>

<div>
  {{format-message
    this.customMessage
    name="Maki"
    numPhotos=1
    timestamp=this.today
  }}
</div>
{{!-- END-SNIPPET --}}