{{!-- BEGIN-SNIPPET docs__helpers__t-key__example-1__example.hbs --}}
{{#each this.options as |opt|}}
  <option value={{opt.value}}>
    {{t opt.labelKey}}
  </option>
{{/each}}
{{!-- END-SNIPPET --}}