<div>
  <h1>Welcome!</h1>

  <div>
    <p>
      This is a test v1 addon for
      <code>ember-intl</code>. Did you want to run the app in
      <code>docs/my-app</code>
      instead?
    </p>
  </div>
</div>