<div>
  <h1 data-test-output="Title">
    {{t "routes.index.title"}}
  </h1>

  <div>
    <p data-test-output="Description">
      {{t "routes.index.description" htmlSafe=true}}
    </p>
  </div>
</div>