<select {{action 'change' on='change'}}>
    {{#each options key="@index" as |item|}}
        <option value={{item}} selected={{is-equal item value}}>
            {{item}}
        </option>
    {{/each}}
</select>
