html, body {
  font-family: HelveticaNeue-Thin,'Helvetica 35 Thin','HelveticaNeue Thin','Custom Helvetica Neue Thin','Helvetica Neue',Helvetica,Arial,sans-serif;
  margin: 20px;
}

h1 {
  font-weight: 100;
}

.header {
  max-width: 768px;
  margin: 0 auto;
  padding: 1em;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 768px;
}
