*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --brand-primary: #397279;
}

body {
  font-size: 18px;
}

.home {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 800px;
  margin: 4rem auto;
}

.home code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
}
.home__list {
  margin-top: 0.5rem;
  line-height: 1.5;
  font-weight: 500;
}
.home__list li + li {
  margin-top: 0.6rem;
}
.home__cta {
  padding: 3rem 0;
}
.home__cta-link {
  color: #22292f;
}

.intl-tools {
  display: flex;
  list-style: none;
  padding: 0 25px 0 0;
  max-width: fit-content;
  position: fixed;
  right: 220px;
  top: 85px;
  z-index: 300;
}

.intl-tools li + li {
  margin-left: 10px;
}
.intl-tools button {
  background-color: var(--brand-primary);
  color: #fff;
  padding: 10px;
  width: 80px;
}
@media (max-width: 768px) {
  .intl-tools {
    left: 0;
  }
}

.btn {
  color: #fff;
  background-color: var(--brand-primary);
  margin-bottom: 2px;
  margin-left: 4px;
  padding: 10px;
}

.docs-overflow-y-scroll {
  overflow-y: auto;
}

.docs-md__code, .docs-overflow-x-scroll {
  overflow-x: auto;
}

@media (min-width: 768px) {
  .md\:docs-overflow-y-scroll {
    overflow-y: auto;
  }
}
