<div lang="en-us">
  {{t
    "photo-album.summary"
    (hash
      numPhotos=3
    )
    locale="en-us"
  }}
</div>

<div lang="de-de">
  {{t
    "photo-album.summary"
    (hash
      numPhotos=3
    )
    locale="de-de"
  }}
</div>