{{!-- BEGIN-SNIPPET docs__helpers__t__example-3__example.hbs --}}
<div lang="en-us">
  {{t
    "photo-album.summary"
    (hash
      numPhotos=3
    )
    locale="en-us"
  }}
</div>

<div lang="de-de">
  {{t
    "photo-album.summary"
    (hash
      numPhotos=3
    )
    locale="de-de"
  }}
</div>
{{!-- END-SNIPPET --}}