{{!-- BEGIN-SNIPPET docs__helpers__format-relative-time__example-2__example.hbs --}}
<div lang="en-us">
  {{format-relative-time -1 locale="en-us"}}
</div>

<div lang="de-de">
  {{format-relative-time -1 locale="de-de"}}
</div>
{{!-- END-SNIPPET --}}