{{!-- BEGIN-SNIPPET docs__helpers__format-time__example-3__example.hbs --}}
<div lang="en-us">
  {{format-time this.today locale="en-us"}}
</div>

<div lang="de-de">
  {{format-time this.today locale="de-de"}}
</div>
{{!-- END-SNIPPET --}}