Reference a message key, defined in your messages module corresponding to the current locale.

{{t 'product.info'
    product='Apple watch'
    price=200
    deadline=yesterday}}

{{t computedProperty
    product='Apple watch'
    price=200
    deadline=yesterday}}

Passing a static message or a message via a data-binding also works.

{{t (l photos)
    name='Jason'
    numPhotos=num
    takenDate=yesterday}}

<button title={{t 'product.title'}}>
  Hover to see title
</button>
