{{!-- BEGIN-SNIPPET docs__helpers__format-list__example-2__example.hbs --}}
<div lang="en-us">
  {{format-list this.letters locale="en-us"}}
</div>

<div lang="de-de">
  {{format-list this.letters locale="de-de"}}
</div>
{{!-- END-SNIPPET --}}