{{!-- BEGIN-SNIPPET docs__helpers__format-date-range__example-3__example.hbs --}}
<div lang="en-us">
  {{format-date-range this.yesterday this.today locale="en-us"}}
</div>

<div lang="de-de">
  {{format-date-range this.yesterday this.today locale="de-de"}}
</div>
{{!-- END-SNIPPET --}}