<div class="main">
    <div class="header">
        <h1 id="title">ember-intl</h1>
    </div>
    <div class="content">
        <div>
            {{x-select
                action=(action 'changeLocale')
                options=locales
                value=currentLocale
            }}
        </div>

        {{outlet}}
    </div>
</div>
