<div class="main">
    <div class="header">
        <h1 id="title">ember-intl</h1>
    </div>
    <div class="content">
        <div>
            <button {{action 'changeLocale' 'en-us'}}>en-us</button>
            <button {{action 'changeLocale' 'fr-fr'}}>fr-fr</button>
            <button {{action 'changeLocale' 'es-es'}}>es-es</button>
        </div>
        {{outlet}}
    </div>
</div>
