name: CI/CD

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

env:
  NODE_VERSION: 20

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package-location:
          - 'docs/ember-intl'
          - 'docs/my-v1-addon'
          - 'docs/my-v1-app'
          - 'docs/my-v1-app-with-fallbacks'
          - 'docs/my-v1-app-with-lazy-loaded-translations'
          - 'docs/my-v1-app-with-namespace-from-folders'
          - 'docs/my-v1-classic-app'
          - 'docs/my-v1-classic-app-with-lazy-loaded-translations'
          - 'docs/my-v1-engine'
          - 'docs/my-v2-addon'
          - 'docs/my-v2-app'
          - 'docs/my-v2-app-with-fallbacks'
          - 'docs/my-v2-app-with-lazy-loaded-translations'
          - 'docs/my-v2-app-with-namespace-from-folders'
          - 'packages/ember-intl'
          - 'packages/ember-intl-lint'
          - 'packages/ember-intl-v1-compat'
          - 'packages/ember-intl-vite'
          - 'tests/ember-intl'
          - 'tests/ember-intl-v1-compat'
    timeout-minutes: 5
    steps:
      - name: Check out a copy of the repo
        uses: actions/checkout@v6

      - name: Set up pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm lint
        working-directory: ${{ matrix.package-location }}


  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package-location:
          - 'docs/ember-intl'
          - 'docs/my-v1-addon'
          - 'docs/my-v1-app'
          - 'docs/my-v1-app-with-fallbacks'
          - 'docs/my-v1-app-with-lazy-loaded-translations'
          - 'docs/my-v1-app-with-namespace-from-folders'
          - 'docs/my-v1-classic-app'
          - 'docs/my-v1-classic-app-with-lazy-loaded-translations'
          - 'docs/my-v1-engine'
          - 'docs/my-v2-addon'
          - 'docs/my-v2-app'
          - 'docs/my-v2-app-with-fallbacks'
          - 'docs/my-v2-app-with-lazy-loaded-translations'
          - 'docs/my-v2-app-with-namespace-from-folders'
          - 'packages/ember-intl-lint'
          - 'packages/ember-intl-v1-compat'
          - 'packages/ember-intl-vite'
          - 'tests/ember-intl'
          - 'tests/ember-intl-v1-compat'
    timeout-minutes: 5
    steps:
      - name: Check out a copy of the repo
        uses: actions/checkout@v6

      - name: Set up pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Test
        run: pnpm test
        working-directory: ${{ matrix.package-location }}


  test-compatibility:
    name: Test compatibility
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - 'ember-lts-4.12'
          - 'ember-lts-5.12'
          - 'ember-lts-6.8'
          - 'ember-release'
          - 'ember-beta'
          - 'ember-canary'
          - 'embroider-optimized'
    timeout-minutes: 7
    steps:
      - name: Check out a copy of the repo
        uses: actions/checkout@v6

      - name: Set up pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Test
        run: pnpm test:ember-compatibility ${{ matrix.scenario }} --- pnpm test
        working-directory: 'tests/ember-intl'


  test-on-windows:
    name: Test on Windows
    runs-on: windows-latest
    strategy:
      matrix:
        package-location:
          - 'packages/ember-intl-lint'
          - 'tests/ember-intl-v1-compat'
    timeout-minutes: 5
    steps:
      - name: Check out a copy of the repo
        uses: actions/checkout@v6

      - name: Set up pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Test
        run: pnpm test
        working-directory: ${{ matrix.package-location }}


  deploy-documentation:
    name: Deploy documentation
    runs-on: ubuntu-latest
    needs: [lint, test, test-compatibility, test-on-windows]
    timeout-minutes: 5
    # Only run on pushes to the main branch (i.e. ignore pull requests)
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    # `concurrency`, `environment`, and `permissions` have been set for GitHub Pages
    concurrency:
      cancel-in-progress: false
      group: pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      contents: read
      id-token: write
      pages: write
    steps:
      - name: Check out a copy of the repo
        uses: actions/checkout@v6

      - name: Set up pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version: ${{ env.NODE_VERSION }}

      - name: Setup GitHub Pages
        uses: actions/configure-pages@v5

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build app
        run: pnpm build
        working-directory: 'docs/ember-intl'

      - name: Upload dist
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'docs/ember-intl/.vitepress/dist'

      - name: Deploy app
        id: deployment
        uses: actions/deploy-pages@v4
        env:
          name: github-pages
          url: ${{ steps.deployment.outputs.page_url }}
