name: CI/CD

on:
  push:
    branches:
      - main
      - 'v*'
    tags:
      - '*'
  pull_request:

env:
  NODE_VERSION: 20

jobs:
  deploy-documentation:
    name: Deploy documentation
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Check out a copy of the repo
        uses: actions/checkout@v5

      - name: Set a Git user
        run: |
          # Set a Git user for committing
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@users.noreply.github.com"

          # Copy the Git Auth from the local config
          git config --global "http.https://github.com/.extraheader" \
            "$(git config --local --get http.https://github.com/.extraheader)"

      - name: Set the version path
        # 'main' or 'v1.2.3'
        run: echo "ADDON_DOCS_VERSION_PATH=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Set up pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v5
        with:
          cache: 'pnpm'
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Deploy the latest documentation
        run: pnpm release:documentation --activate --verbose
        working-directory: 'docs/ember-intl'
        env:
          # Rebuild the demo application
          ADDON_DOCS_UPDATE_LATEST: 'false'
