name: Deploy Tagged Docs

on:
  push:
    tags:
      - '*'

env:
  CI: true
  NAME: deploy

jobs:
  deploy-docs:
    name: Deploy Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Setup Git
        run: |
          # Setup a Git user for committing
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@users.noreply.github.com"

          # Copy the Git Auth from the local repository
          # https://github.com/actions/checkout/blob/61b9e3751b92087fd0b06925ba6dd6314e06f089/src/git-auth-helper.ts#L69-L76
          # https://github.com/actions/checkout/blob/61b9e3751b92087fd0b06925ba6dd6314e06f089/src/git-auth-helper.ts#L252-L278
          git config --global "http.https://github.com/.extraheader" \
            "$(git config --local --get http.https://github.com/.extraheader)"
      - uses: actions/setup-node@v2.1.4
        with:
          node-version: '14'
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Set ENV
        # 'master' or 'v1.2.3'
        # https://github.com/ember-learn/ember-cli-addon-docs/issues/454#issuecomment-584129324
        # https://github.com/ember-learn/ember-cli-addon-docs/issues/437
        run: echo "ADDON_DOCS_VERSION_PATH=${GITHUB_REF##*/}" >> $GITHUB_ENV
      - name: Deploy docs with `ember-cli-deploy`
        env:
          ADDON_DOCS_UPDATE_LATEST: 'true'
        run: yarn ember deploy production --verbose --activate
