name: Docs

on:
  push:
    branches:
      - master

env:
  CI: true
  NAME: deploy

jobs:
  deploy-docs:
    name: Deploy Docs
    runs-on: ubuntu-16.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Set ENV
        # 'master' or 'v1.2.3'
        # https://github.com/ember-learn/ember-cli-addon-docs/issues/454#issuecomment-584129324
        # https://github.com/ember-learn/ember-cli-addon-docs/issues/437
        run: echo "::set-env name=ADDON_DOCS_VERSION_PATH::${GITHUB_REF##*/}"
      - name: Deploy docs with `ember-cli-deploy`
        env:
          SUPER_SECRET: ${{ secrets.DEPLOY_KEY }}
        run: yarn ember deploy production
